@font-face {
    font-family: Norse-bold;
    src: url(fonts/Norse-Bold.otf);
}
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,700;1,700&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

html{
    height:100%;
}
body {
    display:flex;
	line-height: 1;
    width:100%;
    height: 100%;
}

.leftbg{
    display:flex;
    background-image: url(image/grey.jpg);
    background-size: cover;
    width: 40vw;
}

.logodiv{
    display:flex;
    justify-content:center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.267);
    width:100%;
    height:10vh;
    padding: 1% 0px;
    margin-top: 25vh;
    gap:3px;
}

.imgcontain{
    display:flex;
    align-items: center;
    width:auto;
    height:100%;
}

.logo{
    width:5vw;
    height:auto;
}

.odin{
    color:white;
    font-family: Norse-bold;
    font-size: 6vw;
}

.rightbg{
    display:flex;
    flex-direction: column;
}

.title{
    background-color: rgb(238, 238, 238);
    padding-top: 15vh;
    padding-bottom: 8vh;
    padding-right:12vw;
    padding-left:6vw;
    font-size: 3vh;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 600;
}

.itali{
    font-style:italic;
}

.form{
    padding-left: 6vw;
}

.formti{
    padding-left: 6vw;
    font-family: 'Ubuntu', sans-serif;
    font-weight:600;
    font-size: 3vh;
    padding-top:2vh;
    padding-bottom: 2vh;
}

.already{
    padding-left:6vw;
}